.text-center {
    font-size: 18px;
}
#page input.btn {
    width:250px;
    line-height: 52px;
    margin:0 auto;
    background-color: #ffddc7;
    text-transform: uppercase;
    font-size: 16px;
    display: block;
    text-align: center;
    border: none;
    outline: none;
}
#page.lk .tab input.btn {
    width:360px;
    margin:30px auto 0;
    max-width: 100%;
}
#page input.btn:hover {
    opacity: 1;
    background-color: #000!important;
    color: #fff;
    cursor: pointer;
}
input[type=submit] {
    transition: all .3s ease;
    font-family: 'Nova';
}