@import url(fonts/stylesheet.css);

body {
	padding:0px;
	margin:0px;
	font-family: 'Nova';
	font-weight: 300;
	color:#000;
	font-size: 18px;
	letter-spacing: .5px;
	padding-top: 65px;
	line-height: 1.4em;
}
body * {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height:auto;
}

ul,li {
	padding:0px;
	margin:0;
	list-style-type: none;
}
a {
	transition: all .3s ease;
	opacity: 1;
	color:#000;
	text-decoration: none;
}

a:hover {
	opacity: .6;
	}

.container {
	width:1730px;
	margin:0 auto;
		padding-left:30px;
		padding-right:30px;
	max-width: 100%;
}

.flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.midd {
	align-items: center;
}

.space-between {
	justify-content: space-between;
}
.space-around {
    justify-content: space-around;
    }

.flex-end {
	    justify-content: flex-end
}

.flex-center {
	justify-content: center;
}
header {
	position: fixed;
	top:0px;
	width:100%;
	left:0px;
	z-index: 10;
	background-color: #fff;
}
header .flex {
	padding: 15px 0;
}

header ul {
	    text-align: center;
}
header ul li {
	    display: inline-block;
    padding: 20px 35px;
    text-transform: uppercase;
}
.loginbar {
	text-align: right;
}
.loginbar span {
	display: inline-block;
	margin:0 10px;
}

.loginbar .tel {
	display: inline-block;
	margin-left: 60px;
}

.f25 {
	flex:0 0 25%;
}

.f50 {
	flex:0 0 50%;
}

.text-center {
	text-align: center;
}


.ban-block {
	color:#fff;
}
.ban-block p {
	font-size: 20px;
	margin:20px 0;
	text-transform: uppercase;
}
.ban-title {
	font-size: 47px;
	color:#fff;
	font-family: 'Baltica';
	line-height: 47px;
	font-weight: bold;
	letter-spacing: 10px;
}

.ban-block a.btn {
	font-size: 16px;
	color:#000;
	display: inline-block;
	background-color: #fff;
	line-height: 38px;
	padding: 0 40px;
	text-transform: uppercase;
	font-weight:normal;
}

.banner {
	background-size: cover;
	background-repeat: no-repeat;
	    background-position: center right;
}

.banner .flex {
	min-height: calc(100vh - 65px);
	}

	h1,h2,h3,h4,h5,h6 {
		margin:0px;
		padding:0px;
		font-family: 'Baltica';
		font-weight: normal;
		letter-spacing: 5px;
	}

.present {
	text-align: right;
	padding:90px 110px 45px;
}

.present .d2 {
	max-width:1233px;
	width:100%;
}

.present .d1 {
	max-width:421px;
	top:calc(50% - 340px);
	left:126px;
	border:24px solid #fff;
}

.relat {
	position: relative;
}


.abs {
	position: absolute;
}

.vids {
	padding:45px 0 45px;
}
.vids   .grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 45px;
}
.vids   .grid > * {
	padding-bottom:45px;
	text-align: center;
}

.vids   .grid > * {
	text-transform: uppercase;
}

.vids h2 {
	text-transform: uppercase;
	font-size: 30px;
	font-family: 'Baltica';
	text-align: center;
	margin-bottom: 45px;
}

footer {
	padding: 60px 0;
	background-color: #ffe8d8;
	text-align: center;
}

footer .custom-logo-link {
	margin-bottom: 80px;
	display: inline-block;
}
footer ul li  {
display: block;
margin-bottom: 18px;
}
.copyright {
	padding: 40px 0 150px;
	text-align: center;
}

footer .flex > * {
	padding:0 5px;
	flex:0 0 310px;
	text-transform: uppercase;
}

footer .socs p {
	margin: 0 0 18px;
}

footer .socs img {
	vertical-align: top;
	display: inline-block;
	margin:0 8px;
}
header .menuEight {
	display: none;
}

header .login {
	display: none;
}

.present .ban-block {
	display: none;
}
.w770 {
	width:770px;
	margin:0 auto;
	max-width: 100%;
	padding: 0 0px;
}
.w860 {
	width:860px;
	margin:0 auto;
	max-width: 100%;
	padding: 0 30px;
}

.w880 {
	width:880px;
	margin:0 auto;
	max-width: 100%;
	padding: 0 0px;
}

.w965 {
	width:965px;
	margin:0 auto;
	max-width: 100%;
	padding: 0 30px;
}
.w1100 {
	width:1100px;
	margin:0 auto;
	max-width: 100%;
	padding: 0;
}
.w1180 {
	width:1180px;
	margin:0 auto;
	max-width: 100%;
	padding: 0;
}

.w1400 {
	width:1400px;
	margin:0 auto;
	max-width: 100%;
	padding: 0;
}



.btns {
	margin-bottom: 60px;
}
.btns > a {
	text-transform: uppercase;
	display: inline-block;
	width: 50%;
	font-size: 27px;
	font-family: 'Baltica';
	text-align: center;
	line-height: 58px;
	border:2px solid transparent;
}
.btns > a.act{
	border:2px solid #ffe8d8;
}
#login {
	padding-top: 70px;
	padding-bottom: 30px;
}
.grid.rek {
	display: grid;
	grid-gap: 120px;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 120px;
}
.grid.rek h3 {
	padding: 0px 0 30px;
	letter-spacing: 0px;
	font-size: 16px;
	font-family: 'Nova';
	text-transform: uppercase;
}
.grid.rek p {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 16px;
	padding-bottom: 10px;
}
#page a.btn {
	width:250px;
	line-height: 52px;
	margin:0 auto;
	background-color: #ffddc7;
	text-transform: uppercase;
	font-size: 16px;
	display: block;
	text-align: center;	

}
*.fs16 {
	font-size: 16px;
	font-family: 'Nova';
	text-transform: uppercase;
}
hr {
	margin:30px 0;
}
input[placeholder]          {color:#a1a1a1;}
input::-moz-placeholder     {color:#a1a1a1;}
input:-moz-placeholder      {color:#a1a1a1;}
input:-ms-input-placeholder {color:#a1a1a1;}

input[type=text],input[type=tel],input[type=email],input[type=password],input[type=date] {
border-bottom:#3b3b3b;
width: 100%;
margin-bottom: 	30px;
line-height: 55px;
text-align: center;	
color:#444;
border:none;
	border-bottom:1px solid #3b3b3b;
}
*:focus {
	outline: none;
}
button {
	transition: all .3s ease;
	opacity: 1;
	cursor: pointer;
}
form .flex {
	padding-top: 20px;
}
form .flex {
	letter-spacing: 0px;
	font-weight: normal;
}
form .flex a {
	    vertical-align: middle;
	    line-height: 30px;
}
.repass {
	text-decoration: underline;
}
button:hover {
	opacity: .6;
	}
.btn-form {
	border:none;
	display: block;
	background-color: #ffddc7;
	width:250px;
	line-height: 55px;
	text-align: center;	
	color:#000;
	font-size: 17px;
	margin:70px auto 45px;
	text-transform: uppercase;
}
input[type=checkbox] {
	width: 0px;
	height: 30px;
	margin-right:45px;
	display: inline-block;	
	vertical-align: middle;
	border:none;
	position: relative;
}
input[type=checkbox]:after {
	position: relative;
	cursor:pointer;
	content: '';
	width:30px;
	height:30px;
	display: inline-block;	
	background-color: #ffddc7;
}
label {
	cursor: pointer;
}
input[type=checkbox]:checked:after {
	background-color: #6de820;
}
.form1,.form2 {
	display: none;
}
form.act {
	display: block;	
}
#page {
	padding: 30px 0px 0;
}
#page h2,#login h2 {
	letter-spacing: 1px;
}
#page h1 {
	font-size: 30px;
	line-height: 82px;
	background-color: #fff3eb;
	padding: 0 40px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 45px;
}
.pb	{
	padding-bottom: 30px;
}
.info {
	padding-bottom: 60px;
	text-align: center;	
}
form.req input[required] {
	position: relative;
	background-image: url(img/req.png);
	background-position: right center;
	background-repeat: no-repeat;
}
.flex.setka {
	margin-bottom: 	120px;
}
.flex.setka .col1 {
	flex:0 0 calc(50% + 40px);
}
.flex.setka .col2 {
padding:0 140px;
}
.grid.moda {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 20px;
	grid-row-gap: 30px;
}
.grid.moda img {
    display: block;
    margin: 0 auto;
    }
.grid.moda div {
	overflow: hidden;
	position: relative;
}
#page a.btn.w430 {
	max-width: 100%;
    width: 430px;
    font-weight: normal;
    margin: 60px auto 90px;
}
.grid.moda div .layer {
	transition: all .3s ease;
	transform: translateY(100px);
	opacity: 0;
	visibility: hidden;
	position: absolute;
	bottom: 0px;
	padding: 45px 0;
	text-align: center;	
	background-color: rgba(216, 186, 167, 0.86);
	width: 100%
}
.grid.moda div:hover .layer {
	transform: translateY(0px);
	opacity: 1;
	visibility: visible;
	}
#page  .grid.moda div .layer h4 {
	letter-spacing: 0px;
	margin-bottom: 	15px;
	font-size: 24px;

}
#page  .grid.moda div .layer span {
	display: block;	
	font-size: 16px;
}
#page  .grid.moda div .layer a.btn {
	background-color: #fff;
	width:auto;
	line-height:36px;
	display: inline-block;
	padding:0 30px;
	font-weight: normal;
	font-size: 16px;
	margin-top: 20px;
}
html {
	overflow-x: hidden;
}
nav {
	transition: all .3s ease;
	transform:translateX(-200px);
	display: none;
	visibility: hidden;
	opacity: 0;
	width: 340px;
	max-width: 100%;
	overflow-y: auto;
	padding: 15px;
	background: #ffe8d8;
	height: 100vh;
	top:0px;
	position: fixed;
	z-index: 11;
	left: 0px;
}
.dn {
	display: none;
}
.setka h2 {
	padding-top: 15px;
}
.flex.contact {
	padding: 60px 0;
	width: 100%;
}
.flex.contact > * {
	flex: 0 0 50%;
	text-align: center;	
}

b {
	font-weight: normal;
}
.select-links {
	margin-bottom: 	60px;
}
.select-links a {
	text-transform: uppercase;
	padding:0 30px;
	line-height: 48px;
	border:2px solid #fff;
}
.select-links a.act {
	border:2px solid #ffe8d8;
}
.toggle-links > a,.toggle-links > hr,.toggle-links > div {
	display: none;	
}
.toggle-links div.act {
		display: flex;	
		margin-top: 30px;
	}
	#brend .setka {
		display: none;
	}
	#brend .setka.act {
		display: flex;
	}
	.grid.col3 {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 25px;
		grid-row-gap: 25px;
		margin:60px 0 45px;
	}
	.grid.col2 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 45px;
		grid-row-gap: 25px;
		margin:60px 0 45px;
	}
	.steps {
		margin:45px auto 60px;
	}
	.kr {
		margin:0 auto;
		background-color: #fff3eb;
		width:40px;
		height:40px;
		border-radius: 50%;
		font-size: 16px;
		font-weight: normal;
		line-height: 40px;
		text-align: center;	
	}
	table {
		margin-top: 40px;
		width:100%;
		border:none;
		    border-spacing: 0px;
	}
	table td,table th {
		text-align: center;	
		padding:10px;
	}
	table th {
		border-bottom: 1px solid #000;
		font-weight: normal;
	}
	#page.razmer p {
		font-size: 16px;
		font-weight: normal;
	}
	.flex.sumary {
		margin:45px 0 30px;
		flex-wrap: wrap;
	}
	.flex.thumbs {
		padding: 0 45px;
		margin-bottom: 45px;
	}
	.flex.thumbs div {
		padding:30px;
		line-height: 0px
	}
	.flex.sumary > .col1 {
		flex:0 0 270px;
		padding-bottom: 5px;
		text-align: center;
	}
	#page h2, #login h2 {
    letter-spacing: 0;
}
	.flex.sumary >.col2 {
		flex:0 0 calc(45% - 270px);
		padding-bottom: 15px;
	}
	.flex.sumary .col3 {
		flex: 0 0 calc(55%);
	}
	.flex.sumary .col3 #props {
		    max-width: 620px;
    margin: 0 auto;
    width: 100%;
	}
	.flex.sumary .col3 #props h1 {
		margin-bottom: 30px;
	}
	.flex.sumary .col3 #props span.art {
		font-size: 16px;
		font-weight: normal;
	}
	.flex.sumary .col3 #props label {
		border:1px solid #fff;
		display: inline-block;
		line-height: 0px;
		margin:0 5px;
	}
	.flex.sumary .col3 #props label.act {
		border-color: #000;
	}
	.flex.sumary .col3 #props label span {
		margin:4px;
		line-height: 45px;
		min-width: 45px;
		height: 45px;
		display: inline-block;
	}
	.flex.sumary .col3 #props a.btn {
		margin-top: 30px;
	}
	hr.mini {
		    border-top: 2px solid #888888;
    width: 110px;
    margin: 30px auto 20px
	}
	#page h1.h2 {
		padding:0px;
		margin:0px;
		font-size: 27px;
		line-height: 1em;
		background-color: transparent;
		text-transform: none;
	}
	#page a.btn:hover,#index a.btn:hover,.btn-form:hover {
		opacity:1;
		background-color: #000!important;
		color:#fff;
	}
	.lk .tab {
		margin-bottom: 60px;
	}
	.lk .tab > div {
		width: 100%;
		text-align: center;
	}
	#page.lk .tab a.btn {
		width:360px;
		margin:30px auto 0;
		max-width: 100%;
	}
	.filter input[type=date] {
		width: 170px;
		display: inline-block;
		  margin: 0px;
    line-height: 40px;

	}
	.filter > * {
		margin:0 10px;
	}
	table.history {
		font-size: 16px;
	}
	table.history span {
		background-color: #fff8c7;
		line-height: 40px;
		width: 200px;
		text-align:center;
		display: inline-block;
	}
	table.history span.stat2 {
		background-color: #e4ffc7;
	}
	table.history tbody tr:nth-child(2) td {
		padding-top: 30px;
	}

	@media (min-width:2560px) {
		#page h1 {
    font-size: 40px;
    padding: 20px 50px;
}
		body {
			font-size: 22px;
		}
		header ul li {
			font-size: 24px;
		}
		h2 {
			font-size: 37px;
			line-height: 1.2em;
		}
		.container {
			width:2410px;
		}
		footer .flex > * {
    padding: 0 5px;
    flex: 0 0 370px;
	}
	footer .flex ul li {
		font-size: 24px;
	}
	.present .relat  {
    width: 1700px;
    margin: 0 auto;
}

#page a.btn {
	line-height: 70px;
	font-size: 23px;
}

#page .grid.moda div .layer h4 {
    letter-spacing: 0px;
    margin-bottom: 15px;
    font-size: 38px;
}
#page .grid.moda div .layer a.btn,.ban-block a.btn {
    line-height: 48px;
    font-size: 23px;
    }
    #page .grid.moda div .layer span {
    font-size: 23px;
}
.btn-form {
    width: 350px;
    line-height: 70px;
    font-size: 23px;
    }
    .ban-title {
    font-size: 60px;
}
.ban-block p {
    font-size: 24px;
    margin: 30px 0;
    }
    .w1400 {
    	width: 1800px;
    }
    .flex.sumary .col3 #props {
    max-width: 1200px;
}
.btns > a {
    text-transform: uppercase;
    display: inline-block;
    width: 50%;
    font-size: 32px;
    font-family: 'Baltica';
    text-align: center;
    line-height: 70px;
    }
    .w880 {
    	width:1160px;
    }
    .w1100 {
    	width:1520px;
    }
    .select-links a {
    padding: 0 45px;
    font-size: 24px;
    line-height: 70px;
}
*.fs16 {
    font-size: 22px;
    }
    .grid.rek h3 {
    font-size: 22px;
}
.grid.rek p {
    font-size: 22px;
    }
    .w965 {
    width: 1280px;
}
#page.razmer p {
    font-size: 22px;
}
.kr {
    width: 48px;
    height: 48px;
    font-size: 22px;
    line-height: 48px;
    }
    table.history {
    font-size: 24px;
}
table.history span {
    line-height: 55px;
    width: 280px;
}
}
@media (max-width:1680px) {
	.present .d1 {
    top: calc(50% - 300px);
    left: -100px;
}

	.container {
		width:100%;
	}
	header ul li {
    padding: 20px 20px;
	}
	header .f25 {
		flex: 0 0 32%;
	}
	header .f25.logo {
		flex: 0 0 18%;
	}
	header .f50 {
		flex: 0 0 50%;
	}
	.loginbar .tel {
    margin-left: 30px;
}
.select-links a {
    font-size: 16px;
}
}
@media (max-width: 1279px) {
	body {
    padding-top: 53px;
    font-size:12px;
}
body p {
	margin:5px 0;
}


	.custom-logo-link {
		line-height: 0px;
	}
	.container {
 padding-left: 10px;
 padding-right: 10px;
}
.login {
	    line-height: 0px;
}
.login img {width:30px;}
	.legend span {
		background-color: #fff8c7;
		height: 32px;
		width: 32px;
		text-align:center;
		display: inline-block;
		    vertical-align: text-bottom;
		    margin-right: 10px;
	}
	.legend .toggle {
    width: 100%;
    line-height: 40px;
    margin: 0 auto;
    background: #e7e7e7 url(img/down.png) center right no-repeat;
    text-transform: uppercase;
    border:none;
    font-size: 14px;
    display: block;
    text-align: center;
    margin:0 0 30px;
	}
	.legend .toggle.act {
		background-image: url(img/up.png);
	}
	.legend.dn {
		margin-top: 15px;
		display: block;
	}
	.legend span.stat2 {
		background-color: #e4ffc7;
	}
	.legend b {
		font-size: 12px;
		line-height: 16px;
		display: inline-block;
		text-align: left;
	}
#page.lk .tab a.btn {
	margin-top: 20px;
}
.banner {
	background-image: url(img/mob-banner.png)!important;
}
	table.history {
		margin-top: 0px;
	}
	table.history tbody tr:nth-child(2) td {
		padding-top: 15px;
	}
	table.history tbody tr:nth-child(1n+4) {
		display: none;
	}
	table.history tbody tr.act {
		display: table-row;
	}
	.filter.flex {
		flex-wrap: wrap;
	}
	.filter > * {
		margin-top: 15px;
		flex: 0 0 100%;
	}
	table.history span > * {
		display: none;
	}
	table.history td,table.history th {
		line-height: 1.1em;
		font-size: 9px;
	}
		table.history span {
			width:32px;
			height:32px;
		}
	.flex.sumary >.col2 {
    padding-bottom: 0;
}
	.sumary .col1 a {
    background-color: #ffddc7;
        text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 30px;
    padding: 5px;
    display: block;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0px;
}
#page {
    padding: 10px 0px 0;
}
	#props .art {
		display: none;
	}
.flex.sumary {
    margin: 0px 0 60px;
}
	.flex.sumary .col1 {order:1;}
	.flex.sumary .col2 {order:2;}
	.flex.sumary .col3 {order:4;}
	.flex.sumary .col4 {order:3;}
	.flex.sumary .col5 {order:5;}
	#page.product .dn {
		display: block;
		padding: 10px 0
	}
	.dn .art {
		margin-top: 10px;
		display: block;
	}
h1.h2 {
	display: none;
}
	#page .flex.sumary .col4 .col2 {
		order:-1;
	    flex: 0 0 calc(100% + 20px);
    position: relative;
    margin-left: -10px;
}
	.flex.thumbs {
    padding: 0;
    margin-bottom: 0px;
}
.flex.thumbs div {
        padding: 15px 0 0;
}
footer .socs img {
    height: 30px;
}

	#page .flex.sumary,#page .flex.thumbs {
		flex-wrap: wrap;
	}
		#page .flex.sumary > div,#page  .flex.thumbs > div {
			text-align: center;
			flex:0 0 100%;
		}
	.steps .flex {
		flex-wrap: wrap;
	}
	.steps .flex > div {
flex:0 0 25%;
padding:15px 0;
	}
		table td,table th {
			font-size: 13px;
			padding:5px 3px;
	}
	.grid.col2,.grid.col3 {
	grid-template-columns: 100%;
	text-align: center;	
		}
		.flex.setka .col2 h2 {
			margin-bottom: 	20px;
		}
		.grid.col3 div {
			display: none;	
		}
		.grid.col3 div:first-child {
			display: block;	
		}
		#page.razmer .steps p {
				font-size: 10px;
		}
	.select-links {
		display: none;	
	}

	table {
    margin-top: 10px;
}
	.grid.col3 {
		margin:15px;
	}
	.kr {
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 12px;
	}
	.steps {
		margin:15px 0;
	}
	#page.razmer p {
		font-size: 12px;
	}
	.toggle-links {
		display: block;
		margin-bottom: 45px;
	}
	.toggle-links > a {
		display: block;	
		text-transform: uppercase;
		text-align: center;	
		background: url(img/down.png) right center no-repeat;
		line-height:30px;
		font-size: 12px;
    font-weight: bold;
	}
	.toggle-links > a.act {
		background: url(img/up.png) right center no-repeat;
	}
	
	.toggle-links hr {
		display: block;	
		margin:10px 0;
	}
	.close-nav {
		background: url(img/close.png) center center no-repeat;
		width:24px;
		height:24px;
		margin-bottom: 15px;
		margin-left: 0px;
		cursor: pointer;
	}
	*.fs16 {
    font-size: 14px;
}
.w965 {
	padding:0 10px;
}
	nav {
		display: block;	
	}
	nav ul {
		display: block;	
		text-align: center;	
	}
	.grid.rek h3 {
    padding: 0px 0 10px;
    font-size: 14px;
}
	hr {
    margin: 15px 0;
}
	nav ul li {
		padding: 7px 0;
		text-transform: uppercase;
	}
	nav.act {
		transform: translateX(0px);
		opacity: 1;
		visibility: visible;
	}
	.grid.moda {
	grid-template-columns: 1fr 1fr;
	    grid-gap: 10px;
	    grid-row-gap: 5px;
}
	#page .grid.rek .btn {
		margin-bottom: 	45px;
	}
	body p {
      font-weight: normal;
    line-height: 1.5em;
	}
.flex.setka .col1 img {
     max-width: 150%;
    position: relative;
    margin-left: -20%;
}
#page h2, #login h2 {
	line-height:1.25em;
}
	.grid.rek {
	display: grid;
	grid-gap: 0px;
	grid-template-columns: 100%;
	margin-bottom: 30px;
}
	.flex.contact {
		flex-wrap: wrap;
		padding: 0px 0 45px;
}
.flex.contact > * {
	flex: 0 0 100%;
	padding-top: 30px;
}
	.pb	{
		padding-bottom: 15px;
	}
	#page h1 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 30px;
    padding: 5px;
}
	.flex.setka {
		flex-wrap: wrap;
		margin-bottom: 15px;
	}
	.flex.setka .col1 {
	    order: -1;
    flex: 0 0 100%;
    overflow: hidden;
}
.flex.setka * {
	flex:0 0 100%;
}
.flex.setka .col2 {
padding: 5px 0 0;
	}
	form p {
		font-size: 12px;
	}
	input[type=checkbox] {
    margin-right: 40px;
}
	form .flex * {
		font-size: 	12px;
	}
	.btn-form {
		width: 100%;
    margin: 15px auto 30px;

		    line-height: 40px;
    font-size: 12px;
}
	.form1, .form2 {
		margin: 15px 0;
		display: block;	
	}
	input[type=text], input[type=tel], input[type=email], input[type=password] {
    margin: 5px 0;
        line-height: 30px;
        font-size: 12px;
}
.grid.moda div .layer {
    padding: 15px 0;
        position: relative;
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    background: none;
    }
#page .grid.moda div .layer span {
    font-size: 12px;
}

#page .grid.moda div .layer h4 {
    font-size: 14px;
        margin-bottom: 5px;
}
#page .grid.moda div .layer a.btn {
    line-height: 30px;
        margin-top: 5px;
    font-size: 12px;
    background-color: #ffddc7;
    }
#page a.btn {
    line-height: 40px;
    font-size: 12px;
}
#page a.btn.w430 {
    margin: 15px auto 30px;
}

#login {
	padding-bottom: 0px;
}
	#login .dn {
		display: block;	
		font-size: 20px;
		text-transform: uppercase;
		text-align: center;	
	}
	#login .btns {
		display: none;	
	}
	.vids h2 {
    font-size: 18px;
    margin-bottom: 30px;
}
	.present .ban-block {
    width: calc(50% );
    display: inline-block;
        margin: 50px 0 20px
}
.ban-block p {
    font-size: 11px;
    margin: 5px 0 20px;
    }
.present .ban-title {
color:#373737;
line-height: 24px;
letter-spacing: 5px;
font-size: 22px;
}
	.present .ban-block {
		color:#000;
	}
	.present .ban-block a.btn{
	    background-color: #ffe8d8;
    padding: 0 30px;
    line-height: 28px;
    font-size: 12px;
	}

	.banner {
    background-position: center center;
}

	.present .d1 {
   max-width: 50%;
    top: 0px;
    left: 10px;
    border: 10px solid #fff;
    position: relative;
    margin-bottom: -60px;
    float: left;
}
.present {
    text-align: right;
    padding: 20px 0px 0px;
}
	.present,.present .container {
		width:100%;
		padding-right: 0px;
		padding-left: 0px;
	}
	
	.ban-block {
		display: none;
	}
	header .custom-logo-link {
		text-align: center;
		display: block;
	}
	header .custom-logo-link img {
		max-width: 90%;
	}
	.vids {
	padding:25px 0 0px;
}
.vids .grid > * {
	width: 60%;
    margin: 0 auto;
    padding-bottom: 15px;
    }
	.copyright {
    padding: 20px 0;
    font-size: 10px;
}
footer {
	padding:30px 0;
}
	footer .custom-logo-link {
		display: none;
	}
	footer .socs p {
    margin: 20px 0 18px;
    font-size: 14px;
}
	footer .flex {
		    flex-wrap: wrap;
	}
	footer .flex > * {
		flex:0 0 100%
	}
	.vids .grid p {
		    margin: 10px 0 10px;
		font-size: 	14px;
	}
	.vids .grid {
    display: grid;
    grid-template-columns: 100%;
    column-gap: 45px;
}
	.dnm {
		display: none!important;
	}
	header .flex {
    padding:10px 0;
}
header ul {
	padding: 20px 0;
}
header ul li {
    padding: 10px 0;
    display: block;
    text-align: left;
}
header .login {
	display: block;
}
header .menu {
order:5;
}
header .loginbar  {
order:6;
}
header .f50,header .f25 {
	display: none;
	flex:0 0 100%;
}
header .flex.act {
	 flex-wrap: wrap;
	 height: auto;

}
header .flex.act > *  {
	display: block;
}



header .f25.logo {
	display: block;
	flex:0 0 200px;
}
/* menuEight */
header .menuEight{
	order:-1;
	display: block;
  width: 35px;
  height: 20px;
  margin: 0px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.menuEight span{
  background-color:#000;
  position: absolute;
  border-radius: 2px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  width:100%;
  height: 3px;
}
.menuEight span:nth-child(1){
  top:0px;
  left: 0px;
}
.menuEight span:nth-child(2){
  top:8px;
  left: 0px;
}
.menuEight span:nth-child(3){
  bottom:0px;
  left: 0px;
}
.menuEight:not(.clickMenuEight):hover span:nth-child(1){
  transform: scaleX(.8);
}
.menuEight:not(.clickMenuEight):hover span:nth-child(2){
  transform: scaleX(.5);
}
.menuEight:not(.clickMenuEight):hover span:nth-child(3){
  transform: scaleX(.8);
}
.clickMenuEight span:nth-child(1){
  top: 13PX;

}
.clickMenuEight span:nth-child(2){

}
.clickMenuEight span:nth-child(3){
  top: 13PX;
}
}