@font-face {
    font-family: 'Nova';
    src: url('ProximaNova-Regular.eot');
    src: url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-Regular.woff2') format('woff2'),
        url('ProximaNova-Regular.woff') format('woff'),
        url('ProximaNova-Regular.ttf') format('truetype'),
        url('ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nova';
    src: url('ProximaNova-Light.eot');
    src: url('ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-Light.woff2') format('woff2'),
        url('ProximaNova-Light.woff') format('woff'),
        url('ProximaNova-Light.ttf') format('truetype'),
        url('ProximaNova-Light.svg#ProximaNova-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Baltica';
    src: url('BalticaC-Bold.eot');
    src: url('BalticaC-Bold.eot?#iefix') format('embedded-opentype'),
        url('BalticaC-Bold.woff2') format('woff2'),
        url('BalticaC-Bold.woff') format('woff'),
        url('BalticaC-Bold.ttf') format('truetype'),
        url('BalticaC-Bold.svg#BalticaC-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Baltica';
    src: url('BalticaC.eot');
    src: url('BalticaC.eot?#iefix') format('embedded-opentype'),
        url('BalticaC.woff2') format('woff2'),
        url('BalticaC.woff') format('woff'),
        url('BalticaC.ttf') format('truetype'),
        url('BalticaC.svg#BalticaC') format('svg');
    font-weight: normal;
    font-style: normal;
}

